@media (max-width: 768px) {
*{
    animation: up 10s linear;
    animation-timeline: view();
    animation-range: entry 10% cover
}
    body{
    background-image: url(psd/ezgif-15776c6e47f65e.gif);
    background-size: 700px;
    background-attachment: fixed;
}
html{
    scroll-behavior: smooth;
  }
@font-face {
    font-family: heddi;
    src: url(Fonts/Canela-Regular-Trial.otf);
}
@font-face {
    font-family: subb;
    src: url(Fonts/02UtsukushiMincho.otf);
}
@font-face {
    font-family: bolds;
    src: url(Fonts/Brigast.ttf);
}
#boxx{
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 100px 10px;
    border-radius: 40px;
    backdrop-filter: blur(50px);
    border: solid rgba(134, 134, 134, 0.144) 2px;
    margin-top: 100px;
}
#pln{
    font-family:bolds ;
    font-size: 3rem;
    margin-top: -30px;
    letter-spacing: 3.4px;
    background-image:url(psd/4deffb4e-3a24-4d7b-9156-112b8de40e9b.gif);
    -webkit-background-clip: text;
    background-size: 600px;
    background-position: 40px;
    -webkit-text-fill-color: transparent;
}
#nam{
    color: rgb(255, 255, 255);
    font-family: subb;
    font-size: 1.2rem;
    background-color: rgba(128, 128, 128, 0.295);
    padding: 5px 5px;
    border-radius: 40px;
    border: solid rgba(138, 138, 138, 0.233) 1px;
    max-width: 100px;
    align-items: center;
    text-align: center;
    position: relative;
    left: 35%;
    top: -57px;
}
.asf{
    max-width: 230px;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-family: subb;
    font-size: 1.2rem;
    background-color: rgba(128, 128, 128, 0.295);
    border-radius: 40px;
    border: solid rgba(138, 138, 138, 0.233) 1px;
    align-items: center;
    text-align: center;
    position: relative;
    left: 16%;
    top: -57px;
}
.but{
    position: relative;
    bottom: -60px;
    left: 25%;
    background-color: rgba(228, 228, 228, 0.24);
    max-width: 140px;
    padding: 0px 25px;
    border-radius: 30px;
    border: solid rgba(136, 136, 136, 0.37) 2px;
    z-index: 2;
}
#blocks{
    border-radius: 30px;
    background-image: url(psd/ezgif-15776c6e47f65e.gif);
    background-color:rgb(161, 121, 226);
    padding: 29px 95px;
    max-width: 1000px;
    position: absolute;
    top: -1px;
    left: -0px;
    overflow: hidden;
    z-index: -1;
    transition-duration: 1s;
    animation: none;
}
#subhs{
    text-decoration: none;
    color: white;
    font-family: subb;
    font-weight: 100;
    font-size: 1.2rem;
    z-index: 2;
    letter-spacing: 1px;
}
.but:hover{
    transform: scale(0.9);
    opacity: 80%;
    transition-duration: 2s;

}
#para{
    opacity: 80%;
    margin-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 0.6px;
}
ul {
    padding-left: 20px;
  }
  strong {
    font-weight: bold;
    color: #ffffffcb;
  }
@keyframes up {
    0%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1.05);
    }
}
}
